
{{#each erros}}
    <div class="alert alert-danger"> {{ text }}</div>
{{/each}}

<form method="POST" accept="/admin/postagens">
    <label for="titulo">Título:</label>
    <input type="text" class="form-control" name="titulo" id="titulo" placeholder="Título da postagem">

    <label for="conteudo">Postagem:</label>
    <textarea class="form-control" name="conteudo" id="conteudo" placeholder="Conteúdo da postagem"></textarea>

    <label for="categoriaId">Categoria:</label>
    <select class="form-control" name="categoriaId">
        <option value="">Escolha uma categoria</option>
        {{#each categorias}}
            <option value="{{dataValues.id}}">{{ dataValues.nome }}</option>
        {{/each}}
    </select>

    <br>
    <button type="submit" class="btn btn-success btn-block">Adicionar nova postagem</button>
</form>