<h2>
    Lista de categorias
</h2>

{{#each erros}}
    <div class="alert alert-danger"> {{ text }}</div>
{{/each}}

<hr>

<a href="/admin/categoria">
    <button class="btn btn-success">Adicionar nova categoria</button>
</a>

<hr>

{{#each categorias}}
    <li>Nome: {{ dataValues.nome }}</li>
    <li>Slug: {{ dataValues.slug }}</li>
    <a href="/admin/categoria/{{dataValues.id}}">
        <button class="btn btn-info">Editar</button>
    </a>
    <form action="/admin/categoria/deletar/{{dataValues.id}}" method="POST">
        <button type="submit" class="btn btn-danger">Deletar</button>
    </form>
    <hr>
{{/each}}