<br>
<a href="/admin/postagem">
    <button class="btn btn-success btn-block">
        Adicionar postagem
    </button>
</a>

{{#each postagens}}
    <hr>
    <li>Título: {{ dataValues.titulo }}</li>
    <li>Conteudo: {{ dataValues.conteudo }}</li>
    <li>Categoria: {{ dataValues.categoria.dataValues.nome }}</li>
    <li>Slug: {{ dataValues.categoria.dataValues.slug }}</li>
    <hr>
{{/each}}
