<h2>
    Adicionar nova categoria
</h2>

{{#each erros}}
    <div class="alert alert-danger"> {{ text }}</div>
{{/each}}

<form method="POST" accept="/admin/categorias">

    {{#if categoria.dataValues.id}}
        <label for="nome">Id:</label>
        <input readonly type="number" class="form-control" name="id" id="id" placeholder="Nome da categoria" 
    value="{{categoria.dataValues.id}}">

    {{/if}}

    <label for="nome">Nome:</label>
    <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome da categoria" 
    value="{{categoria.dataValues.nome}}">

    <label for="slug">Slug:</label>
    <input type="text" class="form-control" name="slug" id="slug" placeholder="Slug da categoria"
    value="{{categoria.dataValues.slug}}">

    <br>

    <button type="submit" class="btn btn-success">Adicionar nova categoria</button>
</form>