<form action="/postagens" method="POST">
    <p>Título</p>
    <input type="text", name="titulo">
    <p>Conteúdo</p>
    <textarea name="conteudo"></textarea>
    <button type="submit">Cadastrar postagem</button>
</form>