<h1>
    Lista de postagens
</h1>

{{#each postagens}}
    <li> {{ dataValues.titulo }}</li>
    <li> {{ dataValues.conteudo }}</li>
    <a href="/postagem/{{dataValues.id}}">Deletar</a>
    <hr>
{{/each}}