<form method="POST" action="/login">

    <label for="nome">Login:</label>
    <input type="text" class="form-control" name="login" id="login" placeholder="login">

    <label for="slug">Senha:</label>
    <input type="password" class="form-control" name="senha" id="login" placeholder="senha">

    <br>

    <button type="submit" class="btn btn-success">Login</button>
</form>