{{#each postagens}}
    <hr>
    <li>Título: {{ dataValues.titulo }}</li>
    <li>Conteudo: {{ dataValues.conteudo }}</li>
    <li>Categoria: {{ dataValues.categoria.dataValues.nome }}</li>
    <li>Slug: {{ dataValues.categoria.dataValues.slug }}</li>
    <hr>
{{/each}}
